#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 170, 255);
}

.links {
  text-decoration: none;
  display: flex;
  padding: 5px 10px;
  margin: 1rem;
  font-size: 20px;
  color: white;
}

#main {
  display: flex;
  flex-direction: row;
}

.posts {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.post {
  margin: 20px;
}
